/* 기존 스타일 */
.ReactModal__Content {
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.grid-item {
  margin: 5px;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; /* 수평 방향 중앙 정렬 */
  align-items: center;   /* 수직 방향 중앙 정렬 */
}

.page-move-container {
}

.prev-btn,
.next-btn {
  width: 60px;
  height: 40px;
  margin: 10px 10px;
  background-color: aqua;
}

.close-btn {
  width: 100px;
  height: 40px;
}

.page-range {
  font-size: 20px;
  font-weight: 500;
}

/* 새로운 스타일 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header,
main,
footer {
  padding: 20px;
  text-align: center;
}

header > button {
  background-color: #f8f9fa;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* grid-tiem {
  background-color: aqua;
} */

main {
  flex: 1;
  background-color: #e9ecef;
}

footer {
  background-color: #f8f9fa;
}
