.login-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 80px;
  position: relative; /* 상대적 위치 지정 */
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 요소 사이의 여백을 최대로 확보 */
  margin-bottom: 20px;
}

.login-title {
  color: #333;
  font-size: 1.5rem;
}

.close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #333;
}

.close:hover {
  color: #ff0000; /* 호버 시 색상 변경 */
}
