.mypage-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

span {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
}

.top-title {
  margin-top: 5px;
  margin-bottom: 100px;
  font-weight: 900;
}

.mypage-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgb(234, 237, 244);
  border-color: black;
  border-width: 20px;
  border-radius: 20px;
  border: solid;
  margin: 0px 20px;
}

.my-info-container,
.saved-loc-container {
  width: 200px;
  height: 500px;
}

.my-review-container {
  width: 500px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: azure;
}

.user-email {
  margin-bottom: 30px;
}
