.App {
  width: 100%;
}

.nav-element {
  border-radius: 10px;
  margin: 0px, 10px, 0px, 10px;
  padding: 0px, 10px, 0px, 10px;
}

.dropdown-toggle {
  border-radius: 10px;
  margin: 0px, 10px, 0px, 10px;
}
