/* SpotInfoPage.css */

.tour-course-page {
    padding: 20px;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.course-item {
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-item-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.course-item-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.course-item-description {
    font-size: 1rem;
    line-height: 1.5;
}
